#include<iostream.h>
#include<conio.h>
class stud
{
 char name,add;
 int id;
 void getdata();
 void putdata();
 }

 void getdata();
 {
 cout<<"enter the name";
 cout<<"enter the add";
 }
 void putdata();
 {
 cin>>name>>add;
 }
 
